In [9]:
cd ../..

c:\Users\robyn\Documents\_School\GitHub\tonami-package

In [2]:
import pandas as pd

In [130]:
MODEL_CVS_FILEPATH = 'tonami/data/model_cvs_info.json'
MODEL_PKL_FILEPATH = 'tonami/data/model_pkl_info.json'
pd.set_option('display.max_rows', None)

In [158]:
model_cvs = pd.read_json(MODEL_CVS_FILEPATH, orient="index")
model_cvs

,Segments,Preprocessing,Train Size,Type,mean,std,min,max
0,3,None,0.1,SVM (RBF),0.941680,0.003676,0.936348,0.946780
1,3,None,0.1,SVM (linear),0.889855,0.003926,0.883860,0.895282
2,3,None,0.1,Decision Tree,0.930940,0.004915,0.924993,0.938975
3,3,None,0.1,kNN,0.946904,0.001704,0.944758,0.948790
4,3,None,0.8,SVM (RBF),0.953800,0.005222,0.947391,0.962113
5,3,None,0.8,SVM (linear),0.896052,0.003159,0.890921,0.899440
6,3,None,0.8,Decision Tree,0.950857,0.005890,0.941981,0.959203
7,3,None,0.8,kNN,0.961392,0.001994,0.959817,0.965297
8,3,LDA,0.1,SVM (RBF),0.942764,0.003991,0.935210,0.946118
9,3,LDA,0.1,SVM (linear),0.890773,0.002142,0.886948,0.893195
10,3,LDA,0.1,Decision Tree,0.913637,0.006925,0.900056,0.918480
11,3,LDA,0.1,kNN,0.943933,0.001484,0.941665,0.946201
12,3,LDA,0.8,SVM (RBF),0.955269,0.004342,0.949877,0.962959
13,3,LDA,0.8,SVM (linear),0.892562,0.004570,0.887968,0.899240
14,3,LDA,0.8,Decision Tree,0.937120,0.005189,0.927314,0.942464
15,3,LDA,0.8,kNN,0.961638,0.002947,0.957488,0.965735
16,0,placeholder,0.0,placeholder,0.000000,0.000000,0.000000,0.000000
17,0,placeholder,0.0,placeholder,0.000000,0.000000,0.000000,0.000000
18,0,placeholder,0.0,placeholder,0.000000,0.000000,0.000000,0.000000
19,0,placeholder,0.0,placeholder,0.000000,0.000000,0.000000,0.000000
20,0,placeholder,0.0,placeholder,0.000000,0.000000,0.000000,0.000000
21,0,placeholder,0.0,placeholder,0.000000,0.000000,0.000000,0.000000
22,0,placeholder,0.0,placeholder,0.000000,0.000000,0.000000,0.000000
23,0,placeholder,0.0,placeholder,0.000000,0.000000,0.000000,0.000000
24,0,placeholder,0.0,placeholder,0.000000,0.000000,0.000000,0.000000
25,0,placeholder,0.0,placeholder,0.000000,0.000000,0.000000,0.000000
26,0,placeholder,0.0,placeholder,0.000000,0.000000,0.000000,0.000000
27,0,placeholder,0.0,placeholder,0.000000,0.000000,0.000000,0.000000
28,0,placeholder,0.0,placeholder,0.000000,0.000000,0.000000,0.000000
29,0,placeholder,0.0,placeholder,0.000000,0.000000,0.000000,0.000000
30,0,placeholder,0.0,placeholder,0.000000,0.000000,0.000000,0.000000
31,0,placeholder,0.0,placeholder,0.000000,0.000000,0.000000,0.000000
32,0,placeholder,0.0,placeholder,0.000000,0.000000,0.000000,0.000000

In [157]:
model_pkl = pd.read_json(MODEL_PKL_FILEPATH, orient="index")
model_pkl

,Date,Accuracy,Train Distribution,Test Distribution,Train Number,Test Number
0,2022-04-25 05:30:27,0.944266,"[27.02, 24.82, 24.19, 23.97]","[25.73, 25.97, 25.87, 22.43]",951,8563
1,2022-04-25 05:30:40,0.892880,"[25.66, 25.87, 24.4, 24.08]","[25.88, 25.86, 25.84, 22.42]",951,8563
2,2022-04-25 05:30:51,0.931483,"[25.13, 25.13, 25.66, 24.08]","[25.94, 25.94, 25.7, 22.42]",951,8563
3,2022-04-24 20:41:48,0.945151,"[25.24, 27.13, 25.66, 21.98]","[25.93, 25.72, 25.7, 22.66]",951,8563
4,2022-04-24 20:41:51,0.949007,"[25.54, 25.7, 26.05, 22.7]","[27.12, 26.48, 24.28, 22.12]",7611,1903
5,2022-04-24 20:41:55,0.886704,"[25.69, 25.79, 25.78, 22.74]","[26.54, 26.12, 25.38, 21.97]",7611,1903
6,2022-04-24 20:41:57,0.947985,"[25.57, 25.67, 25.94, 22.82]","[27.01, 26.59, 24.75, 21.65]",7611,1903
7,2022-04-24 20:42:00,0.957866,"[25.91, 25.77, 25.46, 22.86]","[25.64, 26.22, 26.64, 21.49]",7611,1903
8,2022-04-24 20:42:03,0.943911,"[25.03, 26.18, 26.81, 21.98]","[25.95, 25.82, 25.58, 22.66]",951,8563
9,2022-04-24 20:42:06,0.881344,"[25.55, 24.29, 27.02, 23.13]","[25.89, 26.03, 25.55, 22.53]",951,8563
10,2022-04-24 20:42:09,0.917784,"[25.66, 26.29, 25.66, 22.4]","[25.88, 25.81, 25.7, 22.61]",951,8563
11,2022-04-24 20:42:12,0.947089,"[24.82, 26.71, 25.13, 23.34]","[25.97, 25.76, 25.76, 22.5]",951,8563
12,2022-04-24 20:42:15,0.956890,"[25.75, 26.07, 25.62, 22.56]","[26.27, 25.01, 26.01, 22.7]",7611,1903
13,2022-04-24 20:42:19,0.897678,"[25.49, 26.05, 25.54, 22.91]","[27.33, 25.07, 26.33, 21.28]",7611,1903
14,2022-04-24 20:42:22,0.938869,"[25.95, 25.83, 25.58, 22.64]","[25.49, 25.96, 26.17, 22.39]",7611,1903
15,2022-04-24 20:42:25,0.951523,"[25.83, 25.59, 25.57, 23.01]","[25.96, 26.9, 26.22, 20.91]",7611,1903
16,2022-04-24 19:45:29,0.000000,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
17,2022-04-24 19:45:29,0.000000,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
18,2022-04-24 19:45:29,0.000000,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
19,2022-04-24 19:45:29,0.000000,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
20,2022-04-24 19:45:29,0.000000,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
21,2022-04-24 19:45:29,0.000000,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
22,2022-04-24 19:45:29,0.000000,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
23,2022-04-24 19:45:29,0.000000,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
24,2022-04-24 19:45:29,0.000000,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
25,2022-04-24 19:45:29,0.000000,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
26,2022-04-24 19:45:29,0.000000,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
27,2022-04-24 19:45:29,0.000000,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
28,2022-04-24 19:45:29,0.000000,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
29,2022-04-24 19:45:29,0.000000,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
30,2022-04-24 19:45:29,0.000000,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
31,2022-04-24 19:45:29,0.000000,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
32,2022-04-24 19:45:29,0.000000,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0

In [133]:
model_all = pd.concat([model_cvs, model_pkl], axis=1)
model_all

,Date,Accuracy,Segments,Preprocessing,Train Size,Type,Train Distribution,Test Distribution,Train Number,Test Number
0,2022-04-24 20:41:39,0.941555,3,None,0.1,SVM (RBF),"[27.02, 25.24, 25.45, 22.29]","[25.73, 25.93, 25.73, 22.62]",951,8563
1,2022-04-24 20:41:42,0.895854,3,None,0.1,SVM (linear),"[25.24, 27.44, 23.97, 23.34]","[25.93, 25.68, 25.89, 22.5]",951,8563
2,2022-04-24 20:41:45,0.934914,3,None,0.1,Decision Tree,"[27.44, 25.66, 23.97, 22.92]","[25.68, 25.88, 25.89, 22.55]",951,8563
3,2022-04-24 20:41:48,0.945151,3,None,0.1,kNN,"[25.24, 27.13, 25.66, 21.98]","[25.93, 25.72, 25.7, 22.66]",951,8563
4,2022-04-24 20:41:51,0.949007,3,None,0.8,SVM (RBF),"[25.54, 25.7, 26.05, 22.7]","[27.12, 26.48, 24.28, 22.12]",7611,1903
5,2022-04-24 20:41:55,0.886704,3,None,0.8,SVM (linear),"[25.69, 25.79, 25.78, 22.74]","[26.54, 26.12, 25.38, 21.97]",7611,1903
6,2022-04-24 20:41:57,0.947985,3,None,0.8,Decision Tree,"[25.57, 25.67, 25.94, 22.82]","[27.01, 26.59, 24.75, 21.65]",7611,1903
7,2022-04-24 20:42:00,0.957866,3,None,0.8,kNN,"[25.91, 25.77, 25.46, 22.86]","[25.64, 26.22, 26.64, 21.49]",7611,1903
8,2022-04-24 20:42:03,0.943911,3,LDA,0.1,SVM (RBF),"[25.03, 26.18, 26.81, 21.98]","[25.95, 25.82, 25.58, 22.66]",951,8563
9,2022-04-24 20:42:06,0.881344,3,LDA,0.1,SVM (linear),"[25.55, 24.29, 27.02, 23.13]","[25.89, 26.03, 25.55, 22.53]",951,8563
10,2022-04-24 20:42:09,0.917784,3,LDA,0.1,Decision Tree,"[25.66, 26.29, 25.66, 22.4]","[25.88, 25.81, 25.7, 22.61]",951,8563
11,2022-04-24 20:42:12,0.947089,3,LDA,0.1,kNN,"[24.82, 26.71, 25.13, 23.34]","[25.97, 25.76, 25.76, 22.5]",951,8563
12,2022-04-24 20:42:15,0.956890,3,LDA,0.8,SVM (RBF),"[25.75, 26.07, 25.62, 22.56]","[26.27, 25.01, 26.01, 22.7]",7611,1903
13,2022-04-24 20:42:19,0.897678,3,LDA,0.8,SVM (linear),"[25.49, 26.05, 25.54, 22.91]","[27.33, 25.07, 26.33, 21.28]",7611,1903
14,2022-04-24 20:42:22,0.938869,3,LDA,0.8,Decision Tree,"[25.95, 25.83, 25.58, 22.64]","[25.49, 25.96, 26.17, 22.39]",7611,1903
15,2022-04-24 20:42:25,0.951523,3,LDA,0.8,kNN,"[25.83, 25.59, 25.57, 23.01]","[25.96, 26.9, 26.22, 20.91]",7611,1903
16,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
17,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
18,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
19,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
20,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
21,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
22,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
23,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
24,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
25,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
26,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
27,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
28,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
29,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
30,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
31,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
32,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0