In [9]:
cd ../..

c:\Users\robyn\Documents\_School\GitHub\tonami-package

In [2]:
import pandas as pd

In [77]:
MODEL_INFO_FILEPATH = 'tonami/data/model_info.json'
MODEL_TRAIN_STATS_FILEPATH = 'tonami/data/model_training_stats.json'
pd.set_option('display.max_rows', None)

In [125]:
model_info = pd.read_json(MODEL_INFO_FILEPATH, orient="index")
model_info

,Date,Accuracy,Segments,Preprocessing,Train Size,Type
0,2022-04-24 20:41:39,0.941555,3,None,0.1,SVM (RBF)
1,2022-04-24 20:41:42,0.895854,3,None,0.1,SVM (linear)
2,2022-04-24 20:41:45,0.934914,3,None,0.1,Decision Tree
3,2022-04-24 20:41:48,0.945151,3,None,0.1,kNN
4,2022-04-24 20:41:51,0.949007,3,None,0.8,SVM (RBF)
5,2022-04-24 20:41:55,0.886704,3,None,0.8,SVM (linear)
6,2022-04-24 20:41:57,0.947985,3,None,0.8,Decision Tree
7,2022-04-24 20:42:00,0.957866,3,None,0.8,kNN
8,2022-04-24 20:42:03,0.943911,3,LDA,0.1,SVM (RBF)
9,2022-04-24 20:42:06,0.881344,3,LDA,0.1,SVM (linear)
10,2022-04-24 20:42:09,0.917784,3,LDA,0.1,Decision Tree
11,2022-04-24 20:42:12,0.947089,3,LDA,0.1,kNN
12,2022-04-24 20:42:15,0.956890,3,LDA,0.8,SVM (RBF)
13,2022-04-24 20:42:19,0.897678,3,LDA,0.8,SVM (linear)
14,2022-04-24 20:42:22,0.938869,3,LDA,0.8,Decision Tree
15,2022-04-24 20:42:25,0.951523,3,LDA,0.8,kNN
16,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder
17,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder
18,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder
19,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder
20,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder
21,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder
22,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder
23,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder
24,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder
25,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder
26,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder
27,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder
28,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder
29,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder
30,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder
31,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder
32,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder

In [126]:
model_train_stats = pd.read_json(MODEL_TRAIN_STATS_FILEPATH, orient="index")
model_train_stats

,Train Distribution,Test Distribution,Train Number,Test Number
0,"[27.02, 25.24, 25.45, 22.29]","[25.73, 25.93, 25.73, 22.62]",951,8563
1,"[25.24, 27.44, 23.97, 23.34]","[25.93, 25.68, 25.89, 22.5]",951,8563
2,"[27.44, 25.66, 23.97, 22.92]","[25.68, 25.88, 25.89, 22.55]",951,8563
3,"[25.24, 27.13, 25.66, 21.98]","[25.93, 25.72, 25.7, 22.66]",951,8563
4,"[25.54, 25.7, 26.05, 22.7]","[27.12, 26.48, 24.28, 22.12]",7611,1903
5,"[25.69, 25.79, 25.78, 22.74]","[26.54, 26.12, 25.38, 21.97]",7611,1903
6,"[25.57, 25.67, 25.94, 22.82]","[27.01, 26.59, 24.75, 21.65]",7611,1903
7,"[25.91, 25.77, 25.46, 22.86]","[25.64, 26.22, 26.64, 21.49]",7611,1903
8,"[25.03, 26.18, 26.81, 21.98]","[25.95, 25.82, 25.58, 22.66]",951,8563
9,"[25.55, 24.29, 27.02, 23.13]","[25.89, 26.03, 25.55, 22.53]",951,8563
10,"[25.66, 26.29, 25.66, 22.4]","[25.88, 25.81, 25.7, 22.61]",951,8563
11,"[24.82, 26.71, 25.13, 23.34]","[25.97, 25.76, 25.76, 22.5]",951,8563
12,"[25.75, 26.07, 25.62, 22.56]","[26.27, 25.01, 26.01, 22.7]",7611,1903
13,"[25.49, 26.05, 25.54, 22.91]","[27.33, 25.07, 26.33, 21.28]",7611,1903
14,"[25.95, 25.83, 25.58, 22.64]","[25.49, 25.96, 26.17, 22.39]",7611,1903
15,"[25.83, 25.59, 25.57, 23.01]","[25.96, 26.9, 26.22, 20.91]",7611,1903
16,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
17,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
18,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
19,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
20,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
21,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
22,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
23,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
24,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
25,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
26,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
27,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
28,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
29,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
30,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
31,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
32,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0

In [127]:
model_all = pd.concat([model_info,model_train_stats], axis=1)
model_all

,Date,Accuracy,Segments,Preprocessing,Train Size,Type,Train Distribution,Test Distribution,Train Number,Test Number
0,2022-04-24 20:41:39,0.941555,3,None,0.1,SVM (RBF),"[27.02, 25.24, 25.45, 22.29]","[25.73, 25.93, 25.73, 22.62]",951,8563
1,2022-04-24 20:41:42,0.895854,3,None,0.1,SVM (linear),"[25.24, 27.44, 23.97, 23.34]","[25.93, 25.68, 25.89, 22.5]",951,8563
2,2022-04-24 20:41:45,0.934914,3,None,0.1,Decision Tree,"[27.44, 25.66, 23.97, 22.92]","[25.68, 25.88, 25.89, 22.55]",951,8563
3,2022-04-24 20:41:48,0.945151,3,None,0.1,kNN,"[25.24, 27.13, 25.66, 21.98]","[25.93, 25.72, 25.7, 22.66]",951,8563
4,2022-04-24 20:41:51,0.949007,3,None,0.8,SVM (RBF),"[25.54, 25.7, 26.05, 22.7]","[27.12, 26.48, 24.28, 22.12]",7611,1903
5,2022-04-24 20:41:55,0.886704,3,None,0.8,SVM (linear),"[25.69, 25.79, 25.78, 22.74]","[26.54, 26.12, 25.38, 21.97]",7611,1903
6,2022-04-24 20:41:57,0.947985,3,None,0.8,Decision Tree,"[25.57, 25.67, 25.94, 22.82]","[27.01, 26.59, 24.75, 21.65]",7611,1903
7,2022-04-24 20:42:00,0.957866,3,None,0.8,kNN,"[25.91, 25.77, 25.46, 22.86]","[25.64, 26.22, 26.64, 21.49]",7611,1903
8,2022-04-24 20:42:03,0.943911,3,LDA,0.1,SVM (RBF),"[25.03, 26.18, 26.81, 21.98]","[25.95, 25.82, 25.58, 22.66]",951,8563
9,2022-04-24 20:42:06,0.881344,3,LDA,0.1,SVM (linear),"[25.55, 24.29, 27.02, 23.13]","[25.89, 26.03, 25.55, 22.53]",951,8563
10,2022-04-24 20:42:09,0.917784,3,LDA,0.1,Decision Tree,"[25.66, 26.29, 25.66, 22.4]","[25.88, 25.81, 25.7, 22.61]",951,8563
11,2022-04-24 20:42:12,0.947089,3,LDA,0.1,kNN,"[24.82, 26.71, 25.13, 23.34]","[25.97, 25.76, 25.76, 22.5]",951,8563
12,2022-04-24 20:42:15,0.956890,3,LDA,0.8,SVM (RBF),"[25.75, 26.07, 25.62, 22.56]","[26.27, 25.01, 26.01, 22.7]",7611,1903
13,2022-04-24 20:42:19,0.897678,3,LDA,0.8,SVM (linear),"[25.49, 26.05, 25.54, 22.91]","[27.33, 25.07, 26.33, 21.28]",7611,1903
14,2022-04-24 20:42:22,0.938869,3,LDA,0.8,Decision Tree,"[25.95, 25.83, 25.58, 22.64]","[25.49, 25.96, 26.17, 22.39]",7611,1903
15,2022-04-24 20:42:25,0.951523,3,LDA,0.8,kNN,"[25.83, 25.59, 25.57, 23.01]","[25.96, 26.9, 26.22, 20.91]",7611,1903
16,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
17,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
18,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
19,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
20,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
21,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
22,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
23,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
24,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
25,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
26,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
27,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
28,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
29,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
30,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
31,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0
32,2022-04-24 19:45:29,0.000000,0,placeholder,0.0,placeholder,"[0, 0, 0, 0]","[0, 0, 0, 0]",0,0